@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-ExtraBold.eot') format('eot');
  src: url('../assets/fonts/Nunito-ExtraBold.ttf') format('truetype'),
  url('../assets/fonts/Nunito-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}