
.wrapper {
  width: 100%;
  padding: 24px;

  .sidebar {
    position: fixed;

    display: flex;
    flex-direction: column;

    width: 264px;
    padding: 12px;

    border: 1px solid #CFCFE4;
    border-radius: 18px;

    .courseTitle {
      padding: 12px;
      border-radius: 12px;

      &:hover, &.active {
        cursor: pointer;
        color: #fff;
        background: #5FBF77;
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
    margin-left: 288px;
  }
}
